*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEE;
}

/* Header styles starts here */

header{
    padding: 0 5px;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #000000;
    opacity: 0.9;
}
.nav-logo{
    width: 10%;
    padding: 10px;
}
.nav-logo img{
    width: 120px;
}
.navitem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 13%;
    padding: 20px 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.navitem i{
    color: orangered;
    padding-right: 10px;
    font-size: 17px;
}
.navitem h4,h6{
    font-weight: 500;
    letter-spacing: 1px;
}
.navitem h6{
    opacity: 0.6;
}
.navitem a{
    color: white;
    text-decoration: none;
}
.navitem a:hover{
    color: red;
}
.nav-search{
    width: 60%;
    padding: 20px 30px;
}
.navitem button{
    font-size: 13px;
    padding: 10px 19px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(to right,rgb(10, 20, 117),rgb(74, 49, 218));
}
.nav-search input{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* Header style ends here */
/* NavBar style starts here */

nav{
    padding: 14px 0;
    background-color: white;
}
nav a{
    font-size: 14px;
    padding: 14px 8px;
    font-weight: 600;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
nav a:hover{
    color: orangered;
}
/* NavBar style ends here */
/* Container starts here */

.container{
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    background-color: beige;
}
.row{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    letter-spacing: 0.7px;
}
.row div{
    display: inline-block;
}
.card-img{
    width: 250px;
    width: 25%;
}
.row img{
    width: 250px;
}
.row h3{
    font-weight: 500;
    padding-bottom: 30px;
}
.row p{
    opacity: 0.9;
    text-align: justify;
    padding-bottom: 20px;
}
.card-heading{
    width: 52%;
    padding: 20px;
}
.card-footer{
    width: 20%;
    text-align: center;
}
.card-heading span{
    color: blue;
}
.card-heading span:hover{
    color: orangered;
    text-decoration: underline;
}
.card-footer div{
    display: block;
    margin: 20px;
}
.card-footer div{
    padding: 10px 0;
}
.card-footer button{
    padding: 6px 8px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: rgb(60, 60, 241);
}
#inputValue{
    width: 60px;
    height: 40px;
    outline: none;
    font-size: 19px;
    border-radius: 1px solid gray;
    text-align: center;
}
#monitor-price{
    color: rgb(60, 60, 241);
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card div{
    display: flex;
}
.card h2{
    font-weight: 500;
    padding: 0 30px;
}
.card i{
    color: red;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
/* Container ends here */
